[submodule "rfid"]
	path = rfid
	url = https://github.com/AssociazionePrometeo/rfid.git
[submodule "esp_mqtt"]
	path = esp_mqtt
	url = https://github.com/AssociazionePrometeo/esp_mqtt.git
[submodule "esp_bridge"]
	path = esp_bridge
	url = https://github.com/AssociazionePrometeo/esp_bridge.git
[submodule "espduino"]
	path = espduino
	url = https://github.com/AssociazionePrometeo/espduino.git
